*{
    margin:0px;
    padding:0px;
}
ul{
    list-style:none;
    background-color:#559988;
    overflow: hidden;
    height: 30px;
}
ul li{
    float:left;

}
li a{
    text-decoration:none;
    line-height: 30px;
    display: block;
    padding:0px 20px;
}
a:hover{
    background-color: yellow;
}
a:active{
    background-color: hotpink;
}
.sousuo{
    position:absolute;
    top: 1px;
    right: 20px;
}